.mat-slider-horizontal {
  width: 300px;
}

.full-width-field {
  width: 100%;
}

.container {
  width: 40%;
  height: auto;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.backButton {
  display: flex;
  justify-content: flex-end;
}
